@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Playwrite+CU:wght@100..400&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.grey-qo-regular{
    font-family: "Grey Qo", cursive;
    font-weight: 900;
    font-style: normal;
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared style start */


.primary-title{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}

.primary-sub-title,
.BMI .calc-section .chart-part table td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height:20px;
    letter-spacing: 0.3px;
}


.cmn-btn{
    background: rgb(230, 83, 60);
    border-radius: 42px;
    width: 240px;
    height: 54px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border: none;
}



/* shared style end */


.nav .logo .logo-text{
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
}

.nav .menu .list-item{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    list-style: none;
}

.nav .menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 5px 12px 5px 5px;

}


.nav .menu-list .home{
    padding: 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
}


.nav{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 0 32px 0;
}


.nav .menu-bar .bar{
    color: rgb(255, 255, 255);
}

.nav .menu-bar {
    display: none;
}

.banner .left-part .title{
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 28px;
}


.banner .left-part .sub-title{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 28px;
}

.banner .btn{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    width: 224px;
    height: 54px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin-left: 16px;
}

.banner .btn-group{
    display: flex;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.banner .left-part{
    max-width: 600px;
}

.banner .right-part{
    position: relative;
}

.banner .work-out{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    max-width: 200px;
    padding: 14px 22px;
    position: absolute;
    top: 130px;
    right: -40px;
    backdrop-filter: blur(20px)
}

.banner .work-out .title,
.banner .video-tutorial .title{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
}

.banner .work-out .sub-title,
.banner .video-tutorial .sub-title{
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
}

.banner .video-tutorial{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    max-width: 220px;
    padding: 14px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 60px;
    left: -100px;
    backdrop-filter: blur(20px)
}


.banner .video-tutorial .circule{
    width: 50px;
    height: 50px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    position: relative;
    left: -10px;
}

.banner .img{
    max-width: 350px;
}

.banner img{
    width: 100%;
}


.header{
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
    background-color: rgba(0, 0, 0, 0.89);
}






main{
    background-color: black;
}

/* habits section style */


.habits-container{
    max-width: 1440px;
    margin: 0 auto;
}

.habits-container .text-part{
    text-align: center;
    max-width: 671px;
    margin: 0 auto;
    margin-bottom: 45px;
    padding-top: 100px;
}

.habits-container .text-part .title{
    margin-bottom: 12px;
}


.habits-container .img-part{
    display: flex;
    justify-content: space-between;
}

.habits-container .img-part .img-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 270px;
    gap: 30px;
}

.habits-container .img-part img{
    border-radius: 50%;
    border: 2px solid rgb(71, 69, 69);
}

.habits-container .img-content .img-title{
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 6px;
}



/* run section style start */

.run-container{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 80px;
}



.run-container .text-part{
    max-width: 443px;
    margin: auto 0;
}

.run-container .text-part .title{
    margin-bottom: 20px;
}
.run-container .text-part .sub-title{
    margin-bottom: 40px;
}



.run-container .img-part img{
    max-width: 500px;
    border-radius: 18px;
    object-fit: none;
    object-position: 70% 33%;
}

/* Run section end */


/* BMI section start */

.BMI{
    margin-top: 90px;
}

.BMI .disc-section{
    max-width: 671px;
    margin: 0 auto;
}

.BMI .disc-section .sub-title{
    margin-top: 16px;
}


.BMI .calc-section{
    margin-top: 90px;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    padding: 50px 190px;
}


.BMI .input-content input,
.BMI .input-content select,
.BMI select{
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    margin: 5px;
    width: calc(50% - 13px);
}

.BMI .activity-selector{
    width: calc(100% - 12px);
    margin-bottom: 34px;
}

.BMI-Calc-title{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 14px;
}

.BMI .calc-part .text-part{
    margin-bottom: 34px;
}


.BMI .chart-part table{
    border-collapse: collapse;
    margin-top: 50px;
}

.BMI .chart-part{
    max-width: 400px;
    margin-left: 60px;
}

.BMI .calc-section .chart-part table th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 40px;
    text-align: left;
}


.BMI .calc-section .chart-part .table-header{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
}

.BMI .calc-part{
    max-width: 650px;
}



.meet-team{
    margin-top: 100px;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 160px;
}

.meet-team .meet-team-title{
    font-weight: 900;
    font-size: 48px;
    color: rgb(255, 255, 255);
    margin-bottom: 14px;
}

.meet-team .text-part{
    text-align: center;
    max-width: 670px;
    margin: 0 auto;
    margin-bottom: 60px;
}


.meet-team .img-part{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
}

.meet-team .img-part .img-container{
    max-width: 450px;
    max-height: 380px;
    position: relative;
}

.meet-team .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
    filter:brightness(80%)
}

.meet-team .img-container .title{
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 900;
}

.meet-team .img-container .text{
    position: absolute;
    bottom: 30px;
    left: 30px;
}







footer{
    background: black;
    padding-top: 80px;
  }
.footer-container{
    background-color: rgba(255, 255, 255, 0.1);
    
  }

.footer-content{
    max-width: 1440px;
    margin: 0 auto;
}

.footer-container .top-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}
.footer-container .fitness{
    max-width: 450px;
}

.footer-container .top-footer .fitness .title{
    color: rgb(230, 83, 60);
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 20px;
}

.footer-container .top-footer .sub-title{
    line-height: 24px;
}

.footer-container .link .title{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 72px;
}


.footer-container .link .sub-title{
    margin-bottom: 20px;
}

.footer-container .sub-title-container .sub-title{
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
}


.footer-container .bottom-footer{
    text-align: center;
    margin-top: 80px;
}

.footer-container .bottom-footer .copy-right{
    padding: 36px 0;
    border-top: 2px solid rgba(255, 255, 255, 0.1); ;
    font-weight:400;
    font-size:20px;
    color: rgba(255, 255, 255, 0.5);

}


@media screen and (max-width:576px) {


    .header{
        padding: 20px;
    }

   
    .nav{
        padding-top: 20px;
    }
    .nav .menu-bar {
        display: block;
    }

    .nav .menu-list{
        display: none;
    }


    .banner{
        flex-direction: column;
    }

    .banner .left-part .title{
        font-size: 36px;
    }
    .banner .left-part{
        max-width: 390px;
    }


    .banner .work-out{
        max-width: 145px;
        right: -10px;
        top: 60px;
    }

    .banner .video-tutorial{
        max-width: 155px;
        left: 20px;
    }

    .banner .work-out .title,
    .banner .video-tutorial .title{
    color: rgb(255, 255, 255);
    font-size: 30.24px;
    font-weight: 900;
}
    
    .banner .work-out .sub-title,
    .banner .video-tutorial .sub-title{
        color: rgba(255, 255, 255, 0.65);
        font-size: 9.83px;
        font-weight: 400;
    }

    .banner .img{
        max-width: 300px;
    }

    .banner .right-part{
        padding: 20px;
    }

    .banner .video-tutorial .circule{
        width: 50px;
        height: 30px;
    }

     .habits-container .text-part{
        max-width: 318px;
     }

     .habits-container .primary-title{
        font-size: 32px;
     }

     .habits-container .img-part{
        flex-direction: column;
        align-items: center;
        gap: 36px;
     }

     
    

     .run-container{
        flex-direction: column; 
        gap: 30px;
        margin: 60px 20px;
        padding: 45px;
    
     }

     .run-container .text-part .title{
        font-size: 32px;
     }

     .run-btn{
        width: 280px;
     }
     .run-container .text-part .btn{
        width: 280px;
     }
     .run-container .img-part img{
        max-width: 280px;
        object-fit: cover;
     }



     .BMI .disc-section .title{
        color: rgb(255, 255, 255);
        font-size: 32px;
        font-weight: 900;
    }
     .BMI .calc-section{
        flex-direction: column;
        padding: 50px 20px;
        margin-top: 50px;
     }

     .BMI .disc-section{
        padding: 20px;
     }

     .BMI .disc-section .sub-title{
        max-width: 353px;
     }

     
     .BMI .chart-part{
        margin: 0;
        margin-bottom: 60px;

     }

     .BMI .BMI-Calc-title{
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 900;
     }


     .meet-team .text-part{
        max-width: 400px;
     }


     .meet-team .meet-team-title{
        font-size: 32px;
     }

     .meet-team .img-part{
        grid-template-columns: repeat(1,1fr);
     }

     .meet-team{
        padding: 20px;
        margin-top: 50px;
     }

     .meet-team .img-container .text{
        position: absolute;
        bottom: 20px;
        left: 20px;
    }



    .footer-container .link .title{
      margin-bottom: 40px;
    }

    .footer-container{
        padding: 20px;
    }

    .footer-container .fitness{
        margin-bottom: 20px;
    }

    .footer-container .top-footer {
        flex-direction: column;
    }

    
}