@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared style start */


.primary-title{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}

.primary-sub-title,
.BMI .calc-section .chart-part table td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height:20px;
    letter-spacing: 0.3px;
}



/* shared style end */

main{
    background-color: black;
}

/* habits section style */


.habits-container{
    max-width: 1440px;
    margin: 0 auto;
}

.habits-container .text-part{
    text-align: center;
    max-width: 671px;
    margin: 0 auto;
    margin-bottom: 45px;
}

.habits-container .text-part .title{
    margin-bottom: 12px;
}


.habits-container .img-part{
    display: flex;
    justify-content: space-between;
}

.habits-container .img-part .img-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 270px;
    gap: 30px;
}

.habits-container .img-part img{
    border-radius: 50%;
    border: 2px solid rgb(71, 69, 69);
}

.habits-container .img-content .img-title{
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 6px;
}



/* run section style start */

.run-container{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 80px;
}



.run-container .text-part{
    max-width: 443px;
    margin: auto 0;
}

.run-container .text-part .title{
    margin-bottom: 20px;
}
.run-container .text-part .sub-title{
    margin-bottom: 40px;
}

.run-container .text-part .btn{
    background: rgb(230, 83, 60);
    border: none;
    border-radius: 42px;
    width: 224px;
    height: 54px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}

.run-container .img-part img{
    max-width: 500px;
    border-radius: 18px;
    object-fit: none;
    object-position: 70% 33%;
}

/* Run section end */


/* BMI section start */

.BMI{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 90px;
}

.BMI .disc-section{
    max-width: 671px;
    margin: 0 auto;
}

.BMI .disc-section .sub-title{
    margin-top: 16px;
}


.BMI .calc-section{
    margin-top: 90px;
    background-color: rgb(34, 34, 34);;
}

.BMI-Calc-title{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
}


.BMI .calc-section .calc-part .input-part{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
}


.BMI .chart-part table{
    border-collapse: collapse;
    max-width: 350px;
    margin-top: 50px;
}


.BMI .calc-section .chart-part table th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 25px;
    text-align: left;
}


.BMI .calc-section .chart-part .table-header{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
}



.meet-team{
    margin-top: 100px;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 160px;
}

.meet-team .meet-team-title{
    font-weight: 900;
    font-size: 48px;
    color: rgb(255, 255, 255);
    margin-bottom: 14px;
}

.meet-team .text-part{
    text-align: center;
    max-width: 670px;
    margin: 0 auto;
    margin-bottom: 60px;
}


.meet-team .img-part{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
}

.meet-team .img-part .img-container{
    max-width: 450px;
    max-height: 380px;
    position: relative;
}

.meet-team .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
    filter:brightness(80%)
}

.meet-team .img-container .title{
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 900;
}

.meet-team .img-container .text{
    position: absolute;
    bottom: 30px;
    left: 30px;
}







footer{
    background: black;
    padding-top: 80px;
  }
.footer-container{
    background-color: rgba(255, 255, 255, 0.1);
    
  }

.footer-content{
    max-width: 1440px;
    margin: 0 auto;
}

.footer-container .top-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}
.footer-container .fitness{
    max-width: 450px;
}

.footer-container .top-footer .fitness .title{
    color: rgb(230, 83, 60);
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 20px;
}

.footer-container .top-footer .sub-title{
    line-height: 24px;
}

.footer-container .link .title{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 72px;
}


.footer-container .link .sub-title{
    margin-bottom: 20px;
}

.footer-container .sub-title-container .sub-title{
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
}


.footer-container .bottom-footer{
    text-align: center;
    margin-top: 80px;
}

.footer-container .bottom-footer .copy-right{
    padding: 36px 0;
    border-top: 2px solid rgba(255, 255, 255, 0.1); ;
    font-weight:400;
    font-size:20px;
    color: rgba(255, 255, 255, 0.5);

}


@media screen and (max-width:576px) {

    

     .habits-container .text-part{
        max-width: 318px;
     }

     .habits-container .primary-title{
        font-size: 32px;
     }

     .habits-container .img-part{
        flex-direction: column;
        align-items: center;
        gap: 36px;
     }
    

     .run-container{
        flex-direction: column; 
        gap: 30px;
        margin: 60px 20px;
        padding: 45px;
    
     }

     .run-container .text-part .title{
        font-size: 32px;
     }

     .run-container .text-part .btn{
        width: 280px;
     }
     .run-container .img-part img{
        max-width: 280px;
        object-fit: cover;
     }

     .meet-team .text-part{
        max-width: 400px;
     }


     .meet-team .meet-team-title{
        font-size: 32px;
     }

     .meet-team .img-part{
        grid-template-columns: repeat(1,1fr);
     }

     .meet-team{
        padding: 20px;
     }

     .meet-team .img-container .text{
        position: absolute;
        bottom: 20px;
        left: 20px;
    }



    .footer-container .link .title{
      margin-bottom: 40px;
    }

    .footer-container{
        padding: 20px;
    }

    .footer-container .fitness{
        margin-bottom: 20px;
    }

    .footer-container .top-footer {
        flex-direction: column;
    }
}